<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Exersise</title>

        
    </head>
    <style>
   
   body{
       
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;

    }
    strong{
        padding-left: 900px;
        font-size: x-large;
        font-family:algerian;
        color: white;
    }
    p{
        padding-left: 950px; 
        padding-right: 50px;
        font-weight:bolder;
       color: white;
        font-family: papyrus;
        font-size: large ;
    }
    i{
        padding-left: 10px; 
        font-size: x-large;
        color: white;
        font-family: papyrus;
    }
    

</style>
    <body style = "background-image: url(https://cdn.glitch.global/fc4f838c-1c31-403b-a5a0-0f5f0bf684e5/red.jpg?v=1669640134215);background-size: cover;">
        <br><br><br>
        <strong >Type: <i><%= type%></i></strong>
        <br><br>
        <strong >Muscle: <i><%= muscle%></i> </strong>
        <br><br>
        <strong >Difficulty: <i><%= difficulty%></i> </strong>
        <br><br>
        <strong>Name: <i><%= name%></i> </strong>
        <br><br>
        <strong>-------------------------INSTRUCTIONS------------------------s</strong>
        <br>
        <p><%= instructions%></p>
                   
                    
               
    </body>
</html>